{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}

{% set html %}
  <p class="govuk-body">You'll need to accept cookies to watch the videos on this page.</p>
  <p class="govuk-body">If you don't want to accept cookies, the videos and transcripts are also available on YouTube.</p>
{% endset %}

{% set acceptHtml %}
  <p class="govuk-body">You’ve accepted campaign cookies. You can <a class="govuk-link" href="/cookies/">change your cookie settings</a> at any time.</p>
{% endset %}

{% set rejectHtml %}
  <p class="govuk-body">You’ve rejected campiagn cookies. You can <a class="govuk-link" href="/cookies/">change your cookie settings</a> at any time.</p>
{% endset %}

{{ govukCookieBanner({
  ariaLabel: "Accept additional cookies to watch videos of Design System Day",
  hidden: true,
  attributes: {
    "data-module": "govuk-cookie-banner",
    "data-cookie-category": "campaign"
  },
  messages: [
    {
      headingText: "Accept additional cookies to watch videos of Design System Day",
      html: html,
      actions: [
        {
          text: "Accept campaign cookies",
          type: "button",
          classes: "js-cookie-banner-accept"
        },
        {
          text: "Reject campaign cookies",
          type: "button",
          classes: "js-cookie-banner-reject"
        },
        {
          text: "View cookies",
          href: "/cookies/"
        }
      ],
      classes: "app-width-container js-cookie-banner-message"
    },
    {
      html: acceptHtml,
      role: "alert",
      hidden: true,
      actions: [
        {
          text: "Hide cookie message",
          type: "button",
          classes: "js-cookie-banner-hide js-cookie-banner-hide--accept"
        }
      ],
      classes: "js-cookie-banner-confirmation-accept app-width-container"
    },
    {
      html: rejectHtml,
      role: "alert",
      hidden: true,
      actions: [
        {
          text: "Hide cookie message",
          type: "button",
          classes: "js-cookie-banner-hide js-cookie-banner-hide--reject"
        }
      ],
      classes: "js-cookie-banner-confirmation-reject app-width-container"
    }
  ]
}) }}

{# Inline script to show the cookie banner as soon as possible,
to avoid a high cumulative layout shift (CLS) score https://web.dev/cls/ #}
<script>
  (function () {
    // Skip early setup when cookie banner component is not supported
    if (!('noModule' in HTMLScriptElement.prototype)) {
      return
    }

    /**
     * Check the cookie preferences object.
     *
     * If the consent object is not present, malformed, or incorrect version,
     * returns false, otherwise returns true.
     *
     * This is also duplicated in cookie-functions.js - the two need to be kept in sync
     */
    function isValidConsentCookie (options) {
      return (options && options.version >= window.GDS_CONSENT_COOKIE_VERSION)
    }

    function campaignIsNull (options) {
      return (options && options.campaign === null)
    }

    // Show the banner if there is no consent cookie or if it is outdated
    var currentConsentCookie = document.cookie.match(new RegExp('(^| )design_system_cookies_policy=([^;]+)'))

    const cookieData = currentConsentCookie && JSON.parse(currentConsentCookie[2]);
    const cookieNotSet = (!currentConsentCookie || !isValidConsentCookie(cookieData))
    const campaignNotSet = isValidConsentCookie(cookieData) && campaignIsNull(cookieData)

    if (cookieNotSet || campaignNotSet) {
      var cookieBanner = document.querySelector("[data-module='govuk-cookie-banner']")
      cookieBanner.removeAttribute('hidden')
    }
  })()
</script>
