{% macro embedCard(params) %}
  <div class="govuk-grid-row" data-module="app-embed-card">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {{- caller() if caller else params.content | safe -}}
      <iframe width="560" height="315" src="{{ params.ytSrc }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      <p>
        <a href="{{ params.transcriptHref }}">Read the full transcript</a>
      </p>
    </div>
    <div class="govuk-grid-column-one-third-from-desktop">
      <img class="app-image--no-border" src="{{ params.authorImgSrc }}" alt="" role="presentation">
    </div>
  </div>
{% endmacro %}